[REDIS]
HOST=localhost
PORT=6379
PWD=
CHECKQ=chklist
REPORTQ=ip_resp
TIMEOUT=150
GDCNT=goodcnt
BDCNT=badcnt
ANCNT=anoncnt


[INSTANCES]
LIMIT=400

[URL]
AWS=
SERVER=
PUBLICIP=

[LOG]
FILE=check_ip_health.log
FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
BACKUP=2

[MONGO]
user=
pwd=
host=localhost
authDB=test
db=test
